<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.stone.taopiaopiao">

    <application android:allowBackup="true"
                 android:label="@string/mtpp_app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/mtpp_AppTheme">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
